# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/public/**/*.json
/public/**/*.md

# fake posts for testing
*.fakepost.md

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
