#header {
    width: 100%;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

#header + div.container {
    margin-top: 1rem;
}

/** select media queries section */
/* Larger than tablet */
@media (min-width: 750px) {
    #header {
        width: 100%;
        height: 8rem;
        background: #fff;
        z-index: 99;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }

    /* space the header from the following div a little to not cover it up*/
    div#main {
        /* ths is 10rem plus the 8rem docked navbar */
        margin-top: 10rem;
    }
}
