/* make button within this component have less padding */
.button {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/* only display the docked items with .large-only if the screen is big */
.large-only {
    display: none;
}

/* Styles for actual docked nav */
nav {
    display: inline-block;
}

nav ul {
    list-style: none;
    display: block;
}

nav ul li {
    display: inline-block;

    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
}

/* make the first element have bigger text */
.title {
    font-size: 15px;
    font-weight: 800;
}

.spreadout {
    margin-right: 4em;
}

nav ul li a:link {

}

nav ul li a:hover {

}

/** select media queries section */
/* Larger than tablet */
@media (min-width: 1000px) {
    .large-only {
        display: inline-block;
    }
}
