.dockednavbar {

}

nav {

}

nav ul {

}


nav ul li {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
}

nav ul li a:link {

}

nav ul li a:hover {

}

/** select media queries section */
/* Larger than tablet */
@media (min-width: 750px) {
    #header {
        width: 100%;
        height: 8rem;
        background: #fff;
        z-index: 99;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }

    .dockednavbar {
        position: fixed;
        top: 0;
        left: 0;
    }

    nav ul li {
        display: inline-block;
        padding-left: 2px;
        padding-right: 2px;
    }

    /* make the first element have bigger text */
    nav ul li:first-child {
        font-weight: 800;
        margin-right: 5rem;
    }

    nav ul {
        list-style: none;
        display: block;
    }

    /* space the header from the following div a little to not cover it up*/
    /*#header + div.container {*/
    div#main {
        /* ths is 10rem plus the 8rem docked navbar */
        margin-top: 10rem;
    }
}
